In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
sanfran_db = pd.read_csv('sanfrancisco_incidents_summer_2014.csv',parse_dates = ['Date'])
seattle_db = pd.read_csv('seattle_incidents_summer_2014.csv')

/Users/apple/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
sanfran_db.shape

(28993, 13)

In [4]:
sanfran_db.columns

Index([u'IncidntNum', u'Category', u'Descript', u'DayOfWeek', u'Date', u'Time',
       u'PdDistrict', u'Resolution', u'Address', u'X', u'Y', u'Location',
       u'PdId'],
      dtype='object')

In [5]:
seattle_db.shape

(32779, 19)

In [6]:
seattle_db.columns

Index([u'RMS CDW ID', u'General Offense Number', u'Offense Code',
       u'Offense Code Extension', u'Offense Type', u'Summary Offense Code',
       u'Summarized Offense Description', u'Date Reported',
       u'Occurred Date or Date Range Start', u'Occurred Date Range End',
       u'Hundred Block Location', u'District/Sector', u'Zone/Beat',
       u'Census Tract 2000', u'Longitude', u'Latitude', u'Location', u'Month',
       u'Year'],
      dtype='object')

In [7]:
sanfran_db.head(5)

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,140734311,ARSON,ARSON OF A VEHICLE,Sunday,2014-08-31,23:50,BAYVIEW,NONE,LOOMIS ST / INDUSTRIAL ST,-122.405647,37.738322,"(37.7383221869053, -122.405646994567)",14073431126031
1,140736317,NON-CRIMINAL,LOST PROPERTY,Sunday,2014-08-31,23:45,MISSION,NONE,400 Block of CASTRO ST,-122.435012,37.761768,"(37.7617677182954, -122.435012093789)",14073631771000
2,146177923,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Sunday,2014-08-31,23:30,SOUTHERN,NONE,1000 Block of MISSION ST,-122.409795,37.780036,"(37.7800356268394, -122.409795194505)",14617792306244
3,146177531,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Sunday,2014-08-31,23:30,RICHMOND,NONE,FULTON ST / 26TH AV,-122.485263,37.772518,"(37.7725176473142, -122.485262988324)",14617753106244
4,140734220,NON-CRIMINAL,FOUND PROPERTY,Sunday,2014-08-31,23:23,RICHMOND,NONE,800 Block of LA PLAYA ST,-122.509895,37.772313,"(37.7723131976814, -122.509895418239)",14073422072000

In [8]:
seattle_db.head(5)

,RMS CDW ID,General Offense Number,Offense Code,Offense Code Extension,Offense Type,Summary Offense Code,Summarized Offense Description,Date Reported,Occurred Date or Date Range Start,Occurred Date Range End,Hundred Block Location,District/Sector,Zone/Beat,Census Tract 2000,Longitude,Latitude,Location,Month,Year
0,483839,2015218538,2202,0,BURGLARY-FORCE-RES,2200,BURGLARY,06/28/2015 10:31:00 AM,06/28/2014 10:31:00 AM,06/28/2015 10:31:00 AM,6XX BLOCK OF NW 74 ST,J,J2,2900.3013,-122.364672,47.682524,"(47.68252427, -122.364671996)",6,2014
1,481252,2015213067,2610,0,FRAUD-IDENTITY THEFT,2600,FRAUD,06/24/2015 11:09:00 AM,06/01/2014 12:00:00 AM,06/24/2015 11:09:00 AM,23XX BLOCK OF 43 AV E,C,C2,6300.1004,-122.277080,47.639901,"(47.639900761, -122.277080248)",6,2014
2,481375,2015210301,2316,0,THEFT-MAIL,2300,MAIL THEFT,06/22/2015 09:22:00 AM,08/31/2014 09:00:00 AM,NaN,81XX BLOCK OF 11 AV SW,F,F3,11300.5013,-122.349312,47.529232,"(47.529232299, -122.349312181)",8,2014
3,481690,2015209327,2599,0,COUNTERFEIT,2500,COUNTERFEIT,06/21/2015 03:52:00 PM,06/20/2014 01:38:00 PM,NaN,6XX BLOCK OF PINE ST,M,M2,8200.1002,-122.334818,47.612368,"(47.612368448, -122.334817763)",6,2014
4,478198,2015207880,2399,3,THEFT-OTH,2300,OTHER PROPERTY,06/20/2015 11:59:00 AM,06/01/2014 11:59:00 AM,11/01/2014 12:00:00 PM,77XX BLOCK OF SUNNYSIDE AV N,J,J3,2700.2015,-122.329379,47.685960,"(47.685959879, -122.329378505)",6,2014

In [9]:
seattle_db.columns = ['RMSID', 'OffenseNumber', 'OffenseCode',
       'Extension', 'OffenseType', 'SummaryCode',
       'OffenseDescription', 'DateReported',
       'OccurredDateStart', 'OccurredDateEnd',
       'BlockLocation', 'District', 'Zone',
       'Census2000', 'Longitude', 'Latitude', 'Location', 'Month',
       'Year']

In [10]:
seattle_db.head(5)

,RMSID,OffenseNumber,OffenseCode,Extension,OffenseType,SummaryCode,OffenseDescription,DateReported,OccurredDateStart,OccurredDateEnd,BlockLocation,District,Zone,Census2000,Longitude,Latitude,Location,Month,Year
0,483839,2015218538,2202,0,BURGLARY-FORCE-RES,2200,BURGLARY,06/28/2015 10:31:00 AM,06/28/2014 10:31:00 AM,06/28/2015 10:31:00 AM,6XX BLOCK OF NW 74 ST,J,J2,2900.3013,-122.364672,47.682524,"(47.68252427, -122.364671996)",6,2014
1,481252,2015213067,2610,0,FRAUD-IDENTITY THEFT,2600,FRAUD,06/24/2015 11:09:00 AM,06/01/2014 12:00:00 AM,06/24/2015 11:09:00 AM,23XX BLOCK OF 43 AV E,C,C2,6300.1004,-122.277080,47.639901,"(47.639900761, -122.277080248)",6,2014
2,481375,2015210301,2316,0,THEFT-MAIL,2300,MAIL THEFT,06/22/2015 09:22:00 AM,08/31/2014 09:00:00 AM,NaN,81XX BLOCK OF 11 AV SW,F,F3,11300.5013,-122.349312,47.529232,"(47.529232299, -122.349312181)",8,2014
3,481690,2015209327,2599,0,COUNTERFEIT,2500,COUNTERFEIT,06/21/2015 03:52:00 PM,06/20/2014 01:38:00 PM,NaN,6XX BLOCK OF PINE ST,M,M2,8200.1002,-122.334818,47.612368,"(47.612368448, -122.334817763)",6,2014
4,478198,2015207880,2399,3,THEFT-OTH,2300,OTHER PROPERTY,06/20/2015 11:59:00 AM,06/01/2014 11:59:00 AM,11/01/2014 12:00:00 PM,77XX BLOCK OF SUNNYSIDE AV N,J,J3,2700.2015,-122.329379,47.685960,"(47.685959879, -122.329378505)",6,2014

In [12]:
sanfran_missing_count = {}
def count_null(df):
    missing_count = {}
    for col in df.columns:
        missing_count[col]=len(df[df[col].isnull()])
    return missing_count

count_null(seattle_db)
#count_null(sanfran_db)

{'BlockLocation': 0,
 'Census2000': 134,
 'DateReported': 0,
 'District': 57,
 'Extension': 0,
 'Latitude': 0,
 'Location': 0,
 'Longitude': 0,
 'Month': 0,
 'OccurredDateEnd': 16280,
 'OccurredDateStart': 0,
 'OffenseCode': 0,
 'OffenseDescription': 0,
 'OffenseNumber': 0,
 'OffenseType': 0,
 'RMSID': 0,
 'SummaryCode': 0,
 'Year': 0,
 'Zone': 56}

In [13]:
count_null(sanfran_db)

{'Address': 0,
 'Category': 0,
 'Date': 0,
 'DayOfWeek': 0,
 'Descript': 0,
 'IncidntNum': 0,
 'Location': 0,
 'PdDistrict': 0,
 'PdId': 0,
 'Resolution': 0,
 'Time': 0,
 'X': 0,
 'Y': 0}

In [18]:
seattle_db['date_time'] = seattle_db['OccurredDateStart']
date_idx = pd.DatetimeIndex(seattle_db['date_time'])
seattle_db['incident_date'] = date_idx.date.astype('datetime64')
seattle_db['incident_hour'] = date_idx.hour
seattle_db['incident_year'] = date_idx.year
seattle_db['incident_month'] = date_idx.month
seattle_db['incident_weekday'] = date_idx.weekday

by_year2 = seattle_db.pivot_table('OffenseNumber', aggfunc='count',
                            index='incident_year',
                            columns='incident_month')
by_year2

incident_month      6      7      8
incident_year
2014            11125  11154  10500